body {
    background-color: #262927;
    color: white;
}

.cardbody {
    background-color: #262927;
}

body {
    /*background-color: black;*/
    overflow-x: hidden;
}

.navbar {
    z-index: 10000000;
    position: sticky;
    top: 0px;
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #fcba03, #fc9003);
    .nav li>a,
    .navbar-brand {
        max-height: 75px;
        width: auto;
        background: transparent !important;
        font-size: 24px transition: 0.2s ease-in-out &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 18px;
            .link {
                width: 100%;
                padding: 0 5px 0 5px;
                visibility: visible font-size: 14px
            }
        }
    }
    .d-flex button {
        background-color: orange;
        color: #111111
    }
    .d-flex dropdown-menu {
        background-color: orange;
        color: #111111
    }
}

.orange .active .a,
.orange .active .a:hover {
    background-color: #fcba03;
}

.nav-link .active {
    color: #fcba03;
}

.search-btn {
    background-color: #fc9003;
    color: black;
    border: 1px solid black
}

.search-btn:hover {
    background-color: #fcba03;
    color: black;
}

#topBar {
    height: 10%;
    position: fixed;
}

.sidebar {
    float: left;
    width: 18%;
    height: 90%;
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 10%;
    background-color: #262927;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border-style: none solid none none;
    border-width: 2px;
    border-color: darkgrey;
}

.sidebar a,
.sidebar span {
    padding: 8px 8px 8px 4px;
    text-decoration: none;
    background-color: #262927;
    display: block;
    transition: 0.3s;
}

.sideBarCategory {
    font-size: 24px;
    color: white;
    background-color: #262927;
    text-align: center;
}

.sideBarButton {
    font-size: 14px;
    background-color: #262927;
    color: #fcba03;
    text-align: center;
}

.sideBarButtonActive {
    color: #fff !important;
}

.sideBarButton:hover {
    font-size: 20px;
    background-color: #262927;
    color: #fc9003;
}

.sidebarBreakLine {
    border-style: none none solid none;
    border-width: 2px;
    background-color: #262927;
    border-color: darkgrey;
    padding-top: 20px;
}

#main {
    margin-left: 18%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

.bg-primary {
    background-color: linear-gradient(to right, #fcba03, #fc9003) !important;
}

.card-body {
    background-color: #262927;
}

.btn-default {
    background-color: #fc9003;
    color: black;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #fcba03;
    color: black;
}

hr {
    border: 1px solid white;
}