<!doctype html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Buddy</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Recipe Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    {% if not current_user.is_anonymous %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a> {% endif %} {% if current_user.is_anonymous %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a> {% endif %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if not current_user.is_anonymous %}
                        <a class="dropdown-item" href="/profile">Profile Page</a>
                        <a class="dropdown-item" href="/logout">Logout</a> {% endif %} {% if current_user.is_anonymous %}
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/register">Register</a> {% endif %}
                    </div>
                </li>
                <li class="navbar-item active">
                    <a class="nav-link" href='/new_recipe'>New Recipe</a>
                </li>
                <li class="navbar-item active">
                    <a class="nav-link" href='/my_pantry'>My Pantry</a>
                </li>
            </ul>
            <div class="col-md-10">
                <div class="d-flex form-inputs">
                    <input id="recipe-search" class="form-control" type="text" placeholder="Search Recipes">
                    <i class="bx bx-search"></i>
                    <button class="search-btn btn my-2 my-sm-0" type="submit">Search</button>
                    </input>
                </div>
            </div>
        </div>
    </nav>