<!doctype html>
<html>

<body>
    <strong>Recipe Buddy</strong>
    <p>
        Host: {{os.getenv('MARIADB_HOST')}}<br>User: {{os.getenv('MARIADB_USER')}}<br> Pass: {{os.getenv('MARIADB_PASSWORD')}}
        <br> Database: {{os.getenv('MARIADB_DATABASE')}}
    </p>
    <p>
        <a href="/recipe/1">Recipe #1</a><br>
        <a href="{{ url_for('login.login') }}">Login</a><br>
        <a href="{{ url_for('register.register') }}">Register</a><br>
        <a href="{{ url_for('login.logout') }}">Logout</a>
    </p>
</body>

</html>