{{ render_partial('partials/header.html') }}
<div id="main">
    <div class="container">
        <h1>Manage</h1>
        <hr>
        <h3>Ingredients</h3>
        <div id="ingredients-div"></div>
        <button class="btn btn-default" onclick="addIngredientRow();">Add Ingredient</button>
        <hr>
        <h3>Kitchenware</h3>
        <div id="kitchenware-div"></div>
        <button class="btn btn-default" onclick="addKitchenwareRow();">Add Kitchenware</button>
        <hr>
    </div>
</div>
<script src="/js/manage.js"></script>
{{ render_partial('partials/footer.html') }}