{{ render_partial('partials/header.html') }}
<div class="sidebar">
    <div class="sideBarCategory">
        <p>Filter by Type</p>
    </div>
    <a class="sideBarButton" id="typeBtn1" href="#">BBQ</a>
    <a class="sideBarButton" id="typeBtn2" href="#">Pasta</a>
    <a class="sideBarButton" id="typeBtn3" href="#">Roasts</a>
    <a class="sideBarButton" id="typeBtn4" href="#">Seafood</a>
    <a class="sideBarButton" id="typeBtn5" href="#">Vegan</a>
    <a class="sideBarButton" id="typeBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
    <div class="sideBarCategory">
        <p>Filter by Kitchenware</p>
    </div>
    <a class="sideBarButton" id="kitchenwareBtn1" href="#">Air Fryer</a>
    <a class="sideBarButton" id="kitchenwareBtn2" href="#">Electric Mixer</a>
    <a class="sideBarButton" id="kitchenwareBtn3" href="#">Food Processor</a>
    <a class="sideBarButton" id="kitchenwareBtn4" href="#">Immersion Blender</a>
    <a class="sideBarButton" id="kitchenwareBtn5" href="#">Wok</a>
    <a class="sideBarButton" id="kitchenwareBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
</div>
<div id="main">
    <div class="container">
        <h1>New Recipe</h1>
        <label for="recipeName">Recipe Name</label><br>
        <input type="text" id="recipeName" name="recipeName" placeholder="Soggy Sodexo French Fries"><br>
        <label for="recipeType">Recipe Type</label><br>
        <select id="recipeType" name="recipeType">
            <option value="BBQ">BBQ</option>
            <option value="Pasta">Pasta</option>
            <option value="Roasts">Roasts</option>
            <option value="Seafood">Seafood</option>
            <option value="Vegan">Vegan</option>
        </select><br>
        <label for="recipeKitchenware">Recipe Kitchenware</label><br>
        <input type="checkbox" id="recipeKitchenware" name="recipeKitchenware" value="Air Fryer">Air Fryer<br>
        <input type="checkbox" id="recipeKitchenware" name="recipeKitchenware" value="Electric Mixer">Electric Mixer<br>
        <input type="checkbox" id="recipeKitchenware" name="recipeKitchenware" value="Food Processor">Food Processor<br>
        <input type="checkbox" id="recipeKitchenware" name="recipeKitchenware" value="Immersion Blender">Immersion Blender<br>
        <input type="checkbox" id="recipeKitchenware" name="recipeKitchenware" value="Wok">Wok<br>
        <label for="recipeDescription">Recipe Description</label><br>
        <textarea id="recipeDescription" name="recipeDescription" placeholder="mmmmmyes french frIEs!"></textarea><br>
        <label for="recipeIngredients">Recipe Ingredients</label><br>
        <input type="text" id="recipe-ingredient-1" placeholder="Lettuce"></textarea><br>
        <label for="recipeInstructions">Recipe Instructions</label><br>
        <textarea id="recipeInstructions" name="recipeInstructions" placeholder="🔪"></textarea><br>
        <label>Recipe Media</label><br>
        <div id="recipeMediaSelector">
            <div class="recipe-media-div" id="recipe-media-1">
                <select id="recipeType" name="recipeType">
                    <option value="image">Image URL</option>
                    <option value="video">YouTube Video URL</option>
                </select>
                <input type="text" class="recipeMedia" placeholder="https://i.imgur.com/GbA4xZx.jpeg"><br>
            </div>
        </div>
        <button onclick="addMedia()">Add media field</button>
        <br><br>
        <button id="submitRecipe">Submit Recipe</button>
    </div>
</div>
<script>
    var mediaCount = 1;

    function addMedia() {
        mediaCount++;
        var html = `
        <div class="recipe-media-div" id="recipe-media-` + mediaCount + `">
            <select id="recipeType" name="recipeType">
                <option value="image">Image URL</option>
                <option value="video">YouTube Video URL</option>
            </select>
            <input type="text" class="recipeMedia" placeholder="https://i.imgur.com/GbA4xZx.jpeg"><button onclick='$("#recipe-media-` + mediaCount + `").remove()'>X</button><br>
        </div>
        `;
        $("#recipeMediaSelector").append(html);
    }
</script>
{{ render_partial('partials/footer.html') }}