{{ render_partial('partials/header.html') }}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>new_recipe</title>
    <style>
        body {
            background-color: #262927;
            color: white;
        }
    </style>

</head>

<div id="main">
    <div class="container">
        <h1>New Recipe</h1>
        <hr>

        <label for="recipeName">Recipe Name</label><br>
        <input type="text" class="form-control" id="recipeName" name="recipeName"><br><br>

        <label for="recipeSubtitle">Recipe Subtitle</label><br>
        <input type="text" class="form-control" id="recipeSubtitle" name="recipeSubtitle"><br><br>

        <label for="recipeDescription">Recipe Description</label><br>
        <textarea id="recipeDescription" name="recipeDescription" rows="10" cols="50"></textarea><br><br>

        <label for="recipeType">Recipe Type</label><br>
        <select class="form-control" id="recipeType" name="recipeType">
            <option value="Sandwich">Sandwich</option>
            <option value="Side">Pasta</option>
            <option value="Grilled">Drink</option>
            <option value="Mystery">Seafood</option>
            <option value="Vegan">Vegan</option>
        </select><br><br>

        <label>Recipe Kitchenware</label><br>
        <div id="kitchenware">
        </div><br>

        <label for="recipeIngredients">Recipe Ingredients</label><br>
        <div id="recipeIngredientSelector">
            <div class="recipe-ingredient-div" id="recipe-ingredient-1">
                <input type="number" value="1" class="recipe-ingredient-quantity" id="recipe-ingredient-quantity-1" onchange="updateIngredient(1);">
                <select class="recipe-ingredient-ingredient" id="recipe-ingredient-ingredient-1" onchange="updateIngredient(1);">
                </select>
                <input type="text" class="recipe-ingredient-units" id="recipe-ingredient-units-1" readonly>
                <input type="checkbox" class="recipe-ingredient-optional" id="ingredient-1-optional"> Optional?<br>
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="addIngredient();">Add ingredient field</button><br><br>

        <label for="recipeInstructions">Recipe Instructions</label><br>
        <div id="recipeInstructionSelector">
            <input type="text" id="recipeInstructions" placeholder="Instruction 1" class="recipe-instruction form-control"><input type="checkbox" id="instruction-1-optional" class="recipe-instruction-optional"> Optional?<br>
        </div>
        <button type="button" class="btn btn-default" onclick="addInstruction();">Add instruction field</button><br><br>

        <label>Recipe Media</label><br>
        <div id="recipeMediaSelector">
            <div class="recipe-media-div" id="recipe-media-1">
                <select id="recipeMediaType" class="form-control recipeMediaType">
                    <option value="image">Image URL</option>
                    <option value="video">YouTube Video URL</option>
                </select>
                <input type="text" class="form-control recipeMedia" placeholder="https://i.imgur.com/GbA4xZx.jpeg"><br>
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="addMedia();">Add media field</button>
        <br><br>
        <label for="privacy">Privacy</label> <select id="recipe-privacy">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select><br>
        <button type="button" class="btn btn-default" id="submitRecipe" onclick="submitRecipe();">Submit Recipe</button>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/39s8w9qb5wq587ewdwdkwuo0rsa04j5igwwq95srbty2c141/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/js/new_recipe.js"></script>
{{ render_partial('partials/footer.html') }}