{{ render_partial('partials/header.html') }}
<div id="main">
    <div class="container">
        <h1 style="text-align: center;">Profile</h1>
        <hr> {% if current_user.is_anonymous %}
        <p>User is not currently logged in</p>
        {% else %}
        <figure class="figure center-img">
          <img src="res/Default_Profile.png" class="figure-img img-fluid center-img" alt='' style="object-fit: scale-down;">
        </figure>
        <hr>
        <p>User is currently logged in</p>
        <div class="row">
          <div class="col border-right" style="text-align: center;">
            <h2>Recipes</h2>
            <p>get user's recipes and put them here :)</p>
          </div>
          <div class="col" style="text-align: center;">
            <h2>My Pantry</h2>
            <p>get user's pantry items and put them here :)</p>
        </div>
        {% endif %}
    </div>
</div>
{{ render_partial('partials/footer.html') }}
