<!doctype html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Recipe - {{ recipe.title }}</title>
    <!--link rel="icon" type="image/png" href="/favicon.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"-->
</head>

{% block content %}

<body>
    <div class="py-5 d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card w-50 shadow-sm">
                    <div class="card-header bg-primary text-white">
                        Favorite recipe 🍴
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            {{ recipe.title }}
                        </h4>
                        <h6 class="card-subtitle text-muted text-center mb-2">
                            Uploaded on: <i>{{ recipe.uploaded }}</i>
                        </h6>
                        <h6 class="card-subtitle text-muted text-center mb-2">
                            Uploaded by: <b>{{ user.username }}</b>
                        </h6>
                        <p class="card-text">
                            {% for ingredient in ingredients_list %}

                                {% if ingredient[0] != None %}
                                    <i>{{ ingredient[0] }}</i>
                                {% endif %}
                                {% if ingredient[1] != None %}
                                    <i>{{ ingredient[1] }}</i>
                                {% endif %}
                                {{ ingredient[2] }}
                                {% if ingredient[3] == True %}
                                    &nbsp;&nbsp; (Optional)
                                {% endif %}

                            <br> {% endfor %}
                        </p>
                        <hr>
                        <p class="card-text">
                            {% for instruction in instructions_list %}

                                &nbsp;&nbsp; <b>{{ instruction["instruction_number"] }}.</b>
                                {% if instruction["optional"] %}
                                    <i> &nbsp;&nbsp; (Optional) &nbsp;&nbsp; </i>
                                {% endif %}
                                {{ instruction["description"] }}

                            <br> {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="py-5 row justify-content-center">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login.login') }}">
                    <button type="button" class="btn btn-primary">
                Login
              </button>
                </a>
                {% else %}
                <a href="{{ url_for('login.logout') }}">
                    <button type="button" class="btn btn-primary">
                Logout
              </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>
