{{ render_partial('partials/header.html') }}
<!--div class="sidebar">
    <div class="sideBarCategory">
        <p>Filter by Type</p>
    </div>
    <a class="sideBarButton" id="typeBtn1" href="#">BBQ</a>
    <a class="sideBarButton" id="typeBtn2" href="#">Pasta</a>
    <a class="sideBarButton" id="typeBtn3" href="#">Roasts</a>
    <a class="sideBarButton" id="typeBtn4" href="#">Seafood</a>
    <a class="sideBarButton" id="typeBtn5" href="#">Vegan</a>
    <a class="sideBarButton" id="typeBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
    <div class="sideBarCategory">
        <p>Filter by Kitchenware</p>
    </div>
    <a class="sideBarButton" id="kitchenwareBtn1" href="#">Air Fryer</a>
    <a class="sideBarButton" id="kitchenwareBtn2" href="#">Electric Mixer</a>
    <a class="sideBarButton" id="kitchenwareBtn3" href="#">Food Processor</a>
    <a class="sideBarButton" id="kitchenwareBtn4" href="#">Immersion Blender</a>
    <a class="sideBarButton" id="kitchenwareBtn5" href="#">Wok</a>
    <a class="sideBarButton" id="kitchenwareBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
</div-->
<div id="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card shadow-sm" style="padding: 2vw; background-color: #262927;">
                <div class="card-header bg-primary" style="background: linear-gradient(to right, #fcba03, #fc9003); color: black">
                    <span id="recipe_title_top"></span>
                </div>
                <div class="card-body" id="recipe-body">
                    <h4 class="card-title text-center" id="recipe_title"></h4>
                    <p class="card-subtitle text-muted text-center mb-2" style="color: white !important;">
                        <span id="recipe_subtitle"></span>
                    </p>
                    <p class="card-subtitle text-muted text-center mb-2" style="color: white !important;">
                        <span id="recipe_description"></span>
                    </p>

                    <p class="card-subtitle text-muted text-center mb-2" style="color: white !important;">
                        <span id="recipe_type"></div>
                    </p>
                    <hr>
                    <h6 class="card-subtitle text-muted text-center mb-2" style="color: white !important;">
                        Uploaded on: <i><span id="uploaded"></span></i>
                        </h6>
                        <h6 class="card-subtitle text-muted text-center mb-2" style="color: white !important;">
                            Uploaded by: <b><span id="username"></span></b>
                        </h6>
                        <div id="media-container">
                        </div>
                        <p class="card-text">
                            <div id="ingredients"></div>
                        </p>
                        <hr>
                        <p class="card-text">
                            <div id="instructions"></div>
                        </p>
                        <hr>
                        <div id="delete-button-div" class="text-center" style="display: none;">
                            <button type="button" class="btn btn-danger" id="delete-recipe-button" onclick="deleteRecipe();">Delete Recipe</button>
                            <hr>
                        </div>
                        <h4 class="card-title text-center">Comments</h4>
                        <p class="card-text">
                            {% if not current_user.is_anonymous %}
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <div class="py-1 row justify-content-center">
                                    <div class="input-group mb-3">
                                        <!--
                                        <textarea class="form-control" id="comment-textarea"
                                        rows="6" placeholder="Write your comment here. . ."
                                        maxlength="1024"
                                        style="resize:none;"></textarea>
                                        -->
                                        {{ form.contents( class="form-control", rows="6", placeholder="Write your comment here. . .", maxlength="1024", style="resize:none; background-color: #262927; color: #fff;" ) }}
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-black" style="background: linear-gradient(to right, #fcba03, #fc9003);">Post
                                        comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            <div class="py-2 column" id="comments"></div>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/recipe.js"></script>
{{ render_partial('partials/footer.html') }}