{{ render_partial('partials/header.html') }}
<div class="sidebar">
    <div class="sideBarCategory">
        <p>Filter by Type</p>
    </div>
    <a class="sideBarButton" id="typeBtn1" href="#">BBQ</a>
    <a class="sideBarButton" id="typeBtn2" href="#">Pasta</a>
    <a class="sideBarButton" id="typeBtn3" href="#">Roasts</a>
    <a class="sideBarButton" id="typeBtn4" href="#">Seafood</a>
    <a class="sideBarButton" id="typeBtn5" href="#">Vegan</a>
    <a class="sideBarButton" id="typeBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
    <div class="sideBarCategory">
        <p>Filter by Kitchenware</p>
    </div>
    <a class="sideBarButton" id="kitchenwareBtn1" href="#">Air Fryer</a>
    <a class="sideBarButton" id="kitchenwareBtn2" href="#">Electric Mixer</a>
    <a class="sideBarButton" id="kitchenwareBtn3" href="#">Food Processor</a>
    <a class="sideBarButton" id="kitchenwareBtn4" href="#">Immersion Blender</a>
    <a class="sideBarButton" id="kitchenwareBtn5" href="#">Wok</a>
    <a class="sideBarButton" id="kitchenwareBtnMore" href="#">More...</a>
    <div class="sidebarBreakLine"></div>
</div>
<div id="main">
    <div class="container">
        <strong>Recipes</strong><br>Search: <span id="search-term"></span>
        <div id="search-limit"></div>
        <div id="search-results"></div>
    </div>
</div>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };
    $(document).ready(function() {
        // Search page
        if (getUrlParameter("q")) {
            var query = getUrlParameter("q");
            if (getUrlParameter("q").length > 512) {
                $("#search-limit").html("<i>Your search query was limited to 512 characters</i> (Characters after \"" + query.substring(502, 512) + "\" were ignored)");
                query = getUrlParameter("q").substring(0, 512);
            }
            $("#recipe-search").val(query);
            $("#search-term").html(query);
            $.getJSON("/api/v1.0.0/public/recipe/search_recipes?q=" + query, function(data) {
                var recipes = Object.values(data.recipes);
                console.log(recipes[0]);
                recipes.sort(function(a, b) {
                    return a["score"] < b["score"];
                });
                console.log(recipes);
                var html = "";
                for (var i = 0; i < recipes.length; i++) {
                    html += "<div class='col-md-4'><div class='card'><div class='card-body' style='background: linear-gradient(to right, #fcba03, #fc9003);'><h5 class='card-title' style='color: black;'>" + recipes[i].recipe.title + "</h5><p class='card-text' style='color: black;'>" + recipes[i].recipe.subtitle + "</p><a href='/recipe/" + recipes[i].recipe.pk + "' class='btn search-btn'>View Recipe</a><p class='card-text' style='color: black;'>Relevance score: <i>" + recipes[i].score + "</i></p></div></div></div>";
                }
                $("#search-results").html(html);
            });
        }
    });
</script>
{{ render_partial('partials/footer.html') }}