{{ render_partial('partials/header.html') }}
<div class="sidebar">
    <div class="sideBarCategory">
        <p>Filter by Type</p>
    </div>
    <span class="typeFilter sideBarButton" id="sideBarRecipeTypeFilter-1" data-filter-type="Sandwich" onclick="reloadFilters(this.id);">Sandwich</span>
    <span class="typeFilter sideBarButton" id="sideBarRecipeTypeFilter-2" data-filter-type="Pasta" onclick="reloadFilters(this.id);">Pasta</span>
    <span class="typeFilter sideBarButton" id="sideBarRecipeTypeFilter-3" data-filter-type="Drink" onclick="reloadFilters(this.id);">Drink</span>
    <span class="typeFilter sideBarButton" id="sideBarRecipeTypeFilter-4" data-filter-type="Seafood" onclick="reloadFilters(this.id);">Seafood</span>
    <span class="typeFilter sideBarButton" id="sideBarRecipeTypeFilter-5" data-filter-type="Vegan" onclick="reloadFilters(this.id);">Vegan</span>
    <!-- <a class="sideBarButton" id="typeBtnMore" href="#">More...</a> -->
    <div class="sidebarBreakLine"></div>
    <div class="sideBarCategory">
        <p>Filter by Kitchenware</p>
    </div>
    <div id="kitchenwareContainer">
    </div>
    <div class="sidebarBreakLine"></div>
</div>
<div id="main">
    <div class="container">
        <strong>Recipes</strong><br>Your Search Query: <span id="search-term"></span>
        <div id="search-limit"></div>
        <div id="search-results"></div>
    </div>
</div>
<script src="/js/search.js"></script>
{{ render_partial('partials/footer.html') }}