<!doctype html>
<html>

<body>
    <strong>Recipe Buddy</strong>
    <br>
    <center>
        <h1>{{ recipe.title }}</h1>
        <br>
        <i>Uploaded {{ recipe.uploaded }}</i>
        <br>
    </center>
    <hr>
        <b>Ingredients:</b>
        <br>
        <p>
            {% for ingredient in ingredients_list %}

                {% if ingredient[0] != None  %}
                    <i>{{ ingredient[0] }}</i>
                {% endif %}

                {% if ingredient[1] != None %}
                    <i>{{ ingredient[1] }}</i>
                {% endif %}

                {{ ingredient[2] }}

                {% if ingredient[3] == True %}
                    &nbsp;&nbsp; (Optional)
                {% endif %}

                <br>

            {% endfor %}
        </p>
</body>

</html>
