<!doctype html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Testing page</title>
</head>

{% block content %}
  <body>
    <div class="py-5 d-flex justify-content-center">
      <div class="card w-50 shadow-sm">
        <div class="card-header bg-primary text-white">
          Favorite recipe
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ recipe.title }}
          </h4>
          <h6 class="card-subtitle text-muted text-center mb-2">
            Uploaded on: <i>{{ recipe.uploaded }}</i>
          </h6>
          <h6 class="card-subtitle text-muted text-center mb-2">
            Uploaded by: <b>{{ user.username }}</b>
          </h6>
          <p class="card-text">
            {% for ingredient in ingredients_list %}

              {% if ingredient[0] != None  %}
                <i>{{ ingredient[0] }}</i>
              {% endif %}

              {% if ingredient[1] != None %}
                <i>{{ ingredient[1] }}</i>
              {% endif %}

              {{ ingredient[2] }}

              {% if ingredient[3] == True %}
                &nbsp;&nbsp; (Optional)
              {% endif %}

              <br>

            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </body>
{% endblock %}

</html>
